<% include partials/header %>
<h1>Theres no place like HOME!</h1>
<h2>Welcome</h2>
<ul>
<li><a href="/fallinlovewith/kitty">/fallinlovewith/kitty</a></li>
<li><a href="/fallinlovewith/dog">/fallinlovewith/dog</a></li>
<li><a href="/posts">/posts</a></li>
<li><a href="litterallyAnythingElseLOL">404</a></li>
</ul>
<% include partials/footer %>