<% include partials/header %>
<h1>What they're known for</h1>
<ul>
<% for (i in posts) { %>
<li><strong><%=` ${posts[i].author} - ${posts[i].title} `%> </strong></li>
<% } %>
</ul>
<% include partials/footer %>